html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.wrapper {
  position: relative;
  padding: 0 1rem 1rem;
}

h1 {
  margin: 0;
  border-bottom: 1px solid black;
}

h2 {
  margin: .5rem 0 0;
}

.button {
  display: inline-block;
  background-color: #999;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px 10px;
  margin: .5rem 0 0;
  transition: all .25s;
}
input {
  display: none;
}
input:checked + .button {
  background-color: #555;
}
.button:hover {
  background-color: #333;
}
.sw-item {
  background: #999;
  border-radius: 5px;
  padding: 1rem;
}
.sw-item:not(:first-child) {
  margin: 1rem 0 0;
}

.sw-item:not(.selected) {
  background: #ccc;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  padding: 1rem 0;
}
