html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.wrapper {
  position: relative;
  padding: 0 1rem 1rem;
}

button {
  background-color: #999;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px 10px;
  transition: all .25s;
}
button:hover {
  background-color: #333;
}
.sw-item {
  background: #999;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0 0;
}

.sw-item:not(.selected) {
  background: #ccc;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  padding: 1rem 0;
}
.sticky div:nth-child(2) {
  padding-top: 1rem;
}